@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}

/* home styleing */


#heading{
    padding: 8px;
    font-size: 32px; 
    font-weight: bold;
    color: white; 
    text-shadow: 
    0 0 5px violet, 
    0 0 10px violet, 
    0 0 15px violet, 
    0 0 20px #DA70D6, 
    0 0 30px #DA70D6, 
    0 0 40px #DA70D6;
}
#user-logo {
    width: 40px; 
    margin-left: 10px;
}
.navbar {
    background-color: black;
}
